body {
    background-color: white;
    color: #50867B; /* This is a shade of sage green. Adjust as necessary. */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 20px;
    border-bottom: 1px solid #50867B; /* Adds an accent line under the title */
}

h1 {
    font-size: 2em;
}

.dropbtn {
    background-color: #EDA5FE; /* This is a shade of lavender. Adjust as necessary. */
    color: #50867B; /* This is a shade of sage green. Adjust as necessary. */
    padding: 16px;
    font-size: 16px;
    border: 1px solid #50867B; /* Adds a sage green border around the dropdown button */
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    max-height: 0;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: max-height 0.5s ease-in-out;
  
    
}

.dropdown-content a {
    color: #EDA5FE; /* This is a shade of lavender. Adjust as necessary. */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .dropdown-column {
    float: left;
    width: 100%;
    column-count: 3;
    column-gap: 15px;
    max-height: 1200px;
    padding: 12px 16px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content.show {
    max-height: 2000px; /* or however tall you want your dropdown to be */
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: grey;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* adjust this value for more or less space between buttons */
    width: fit-content;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900 px; /* Adjust as necessary */
    padding: 0 100px;
    box-sizing: border-box;
}

.searchDropdown {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 160px;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .searchDropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .searchDropdown {
    display: none;
    position: absolute;
    top: 40px; /* adjust as needed */
    left: 400;
    
    /* other styles... */
}
  
  .search-container {
    position: relative;
    width: 150px;
    margin: auto; /* new addition */
}

