body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f0e1; /* This is an earthy beige color. Adjust as necessary. */
    background-image: url("pinkgreen.jpg"); /* Add your background image here */
    background-size: cover;
    color: #50867B; /* This is a shade of sage green. Adjust as necessary. */
    background-image: url("images/recipe-flower-background.jpg");
    background-size: cover;
    background-position: center;
}

header {
    text-align: center;
    padding: 20px;
}

main {
    margin: 0 auto;
    width: 80%;
    background-color: rgba(244, 240, 225, 0.9); /* This is a semi-transparent white overlay. */
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    color: #6B4226; /* This is a dark earthy brown color. Adjust as necessary. */
}

ul, ol {
    color: #6B4226; /* This is a dark earthy brown color. Adjust as necessary. */
}